h1 {
  margin: 8px 0;
}
input {
  border: 1px solid lightgray;
}
#flash, #flash p {
  margin: 0;
  background-color: lightgrey;
  color: red;
}
#account {
  margin: 0;
  background-color: lightgrey;
  span {
    color: green;
  }
}
#links {
  a {
    margin-right: 8px;
  }
}
#room_info {
  span, a {
    margin-left: 8px;
  }
}
#room_posts {
  .single_post {
    margin: 8px;
  }
  .datetime {
    color: lightgrey;
  }
}
#page-load-status {
  display: none;
  text-align: center;
  color: green;
}
